<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>ホーム</title>
	<meta http-equiv="refresh" content="5;url=/user/list">
	<link rel="stylesheet" th:href="@{/css/common/common.css}">
</head>

<body>
	<div class="layout">
		<header class="header">
			<div class="title">アカウント - <span th:text="${loginName}"></span></div>
		</header>
		<main class="main">
			<p>削除完了ました。</p>
			<p>画面が遷移します。少々お待ちください。</p>
			<form th:action="@{/user/list}" method="get">
				<button type="submit">画面が遷移しない場合は押してください。</button>
			</form>
		</main>
		<footer class="footer">
			<p>Ⓒ 2026 RPC Inc.</p>
		</footer>
	</div>
</body>