<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>管理者ページ</title>
	<link rel="stylesheet" th:href="@{/css/common.css}">
	<link rel="stylesheet" th:href="@{/css/admin.css}">
</head>

<body>
	<div class="layout">
		<header class="header">
			<div class="title">ユーザー管理</div>
			<div class="header-return">
				<p>アカウント : <span th:text="${username}"></span>さん</p>
			</div>
		</header>
		<main class="main">
			<div class="sector-box">
				<h1>〇ユーザーリスト</h1>
				<div class="operation-box">
					<div class="action-box">
						<div class="condition-row">
							<form th:action="@{/admin/users/search}" method="get">
								<label>ユーザー検索　: </label>
								<input type="text" name="uKeyword" th:value="${uKeyword}"
									placeholder="検索したい名前を入力してください">
								<button type="submit">ユーザーを絞り込んで検索</button>
							</form>
						</div>
					</div>
					<table border="1">
						<thead>
							<tr>
								<th>ID</th>
								<th>名前</th>
								<th>権限</th>
								<th>削除ボタン</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="user : ${userList}">
								<td th:text="${user.id}"></td>
								<td th:text="${user.name}"></td>
								<td th:text="${user.role == 'ROLE_ADMIN' ? '管理者' : '一般ユーザー'}"></td>
								<td>
									<form th:action="@{/admin/delete}" method="post">
										<input type="hidden" name="id" th:value="${user.id}">
										<button type="submit">削除</button>
									</form>
								</td>
							</tr>
						</tbody>
					</table>
					<div class="action-box">
						<div class="condition-row">
							<form th:action="@{/admin/insert}" method="post">
								<label>ユーザー名　: </label>
								<input type="text" name="name" placeholder="名前を入力してください">
								<label>パスワード : </label>
								<input type="password" name="password" placeholder="パスワードを入力してください">
								<label>権限 : </label>
								<select name="role">
									<option value="ROLE_USER">ユーザー</option>
									<option value="ROLE_ADMIN">管理者</option>
								</select>
								<button type="submit">ユーザーを登録</button>
							</form>
						</div>
					</div>
					<div class="condition-row">
						<span>ステータス　: </span>
						<span th:if="${dataU}" th:text="${dataU}" style="color: red;"></span>
						<span th:if="${messageU}" th:text="${messageU}" style="color: red;"></span>
					</div>
				</div>
			</div>
			<div class="sector-box">
				<h1>〇ユーザースキルリスト</h1>
				<div class="operation-box">
					<div class="action-box">
						<div class="condition-row">
							<form th:action="@{/admin/skills/search}" method="get">
								<label>スキル検索　: </label>
								<input type="text" name="sKeyword" th:value="${sKeyword}"
									placeholder="検索したいスキルを入力してください。">
								<label>ソート:</label>
								<select name="sort">
									<option value="" th:selected="${sort == null}">指定なし</option>
									<option value="name" th:selected="${sort == 'name'}">名前順</option>
									<option value="skill" th:selected="${sort == 'skill'}">スキル順</option>
								</select>
								<button type="submit">ユーザーを絞り込んで検索</button>
							</form>
						</div>
					</div>
					<table border="1">
						<thead>
							<tr>
								<th>名前</th>
								<th>スキル</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="skill : ${skillList}">
								<td th:text="${skill.name}"></td>
								<td th:text="${skill.skill}"></td>
							</tr>
						</tbody>
					</table>
					<div class="condition-row">
						<span>ステータス　: </span>
						<span th:if="${dataS}" th:text="${dataS}" style="color: red;"></span>
						<span th:if="${messageS}" th:text="${messageS}" style="color: red;"></span>
					</div>
				</div>
			</div>
		</main>
		<footer class="footer">
			<div class="header-return">
				<form method="post" th:action="@{/logout}">
					<button type="submit">ログアウト</button>
				</form>
			</div>
		</footer>
	</div>
</body>