* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

/*--------------
レイアウト設定
--------------*/

.layout {
	display: grid;
	row-gap: 1px;
	background: #a9a9a9;
	min-height: 100vh;
	grid-template:
		"header header header" 50px
		"main main main" auto
		"footer footer footer" 80px
		/1fr 1fr 1fr;
}

.header {
	grid-area: header;
	position: sticky;
	top: 0;
	background-color: #dcdcdc;
	display: flex;
	align-items: center;
}

.main {
	grid-area: main;
	background-color: white;
}

.footer {
	grid-area: footer;
	background-color: #dcdcdc;
	display: flex;
	align-items: center;
}

/*--------------
ヘッダー
--------------*/

.header-return {
	margin-left: auto;
	margin-right: 10px;
}

/*--------------
メイン
--------------*/

th {
	padding: 5px;
	width: 170px;
	background-color: #dcdcdc;
	text-align: center;
}

td {
	padding: 10px;
	text-align: center;
}

button {
	padding: 5px 15px;
	border-radius: 5px;
}

/*--------------
フッター
--------------*/
.footer-return {
	margin-left: auto;
	margin-right: 10px;
}