* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

/*--------------
レイアウト設定
--------------*/

.layout {
	display: grid;
	row-gap: 1px;
	background: #a9a9a9;
	min-height: 100vh;
	grid-template:
		"header header header" 50px
		"main main main" auto
		"footer footer footer" 80px
		/1fr 1fr 1fr;
}

.header {
	grid-area: header;
	position: sticky;
	top: 0;
	z-index: 9999;
	background-color: #CCFF33;
	display: flex;
	align-items: center;
}

.main {
	grid-area: main;
	background-color: white;
}

.footer {
	grid-area: footer;
	background-color: #CCFF33;
	display: flex;
	align-items: center;
	padding: 15px;
	min-height: 80px;
}

/*--------------
ヘッダー
--------------*/

.title {
	margin-left: 10px;
}

.header-button {
	margin-left: auto;
	display: flex;
	align-items: center;
	gap: 10px;

}

.header button {
	padding: 8px 15px;
	cursor: pointer;
}

/*--------------
フッター
--------------*/
.footer-button {
	margin-left: auto;
	display: flex;
	align-items: center;
	gap: 10px;

}

.footer button {
	padding: 8px 15px;
	cursor: pointer;
}