<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>ホーム</title>
	<link rel="stylesheet" th:href="@{/css/common/common.css}">
	<link rel="stylesheet" th:href="@{/css/todo/todoinfordelete.css}">
</head>

<body>
	<div class="layout">
		<div th:replace="~{common/header :: header}"></div>
		<main class="main">
			<h1>〇TODO削除画面</h1>
			<div class="main-area">
				<h1>本当に削除しますか？</h1>
				<div class="row">
					<div class="table-wrapper">
						<div class=" table-area">
							<table border="1" class="table-a">
								<tr>
									<th>id</th>
									<td th:text="${todoInfor.id}"></td>
								</tr>
								<tr>
									<th>題名</th>
									<td th:text="${todoInfor.title}"></td>
								</tr>
								<tr>
									<th>優先度</th>
									<td th:text="${todoInfor.priority == 1 ? '低' :
									todoInfor.priority == 2 ? '中' : '高'}"></td>
								</tr>
								<tr>
									<th>期日</th>
									<td th:text="${todoInfor.dueDate}"></td>
								</tr>
								<tr>
									<th>カテゴリー</th>
									<td th:text="${todoInfor.category}"></td>
								</tr>
								<tr>
									<th>　内容</th>
									<td th:text="${todoInfor.content}"></td>
								</tr>
							</table>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="table-wrapper">
						<div class=" table-area">
							<table border="1" class="table-b">
								<thead>
									<tr>
										<th>ID</th>
										<th>名前</th>
									</tr>
								</thead>
								<tbody>

									<tr th:each="userTodo : ${userTodoList}">
										<td th:text="${userTodo.userId}"></td>
										<td><a th:href="@{/user/infor(id=${userTodo.userId})}"
												th:text="${userTodo.name}"></a></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<form th:action="@{/todo/infor/delete}" method="post">
					<input type="hidden" name="id" th:value="${todoInfor.id}">
					<button class="action-button" type="submit">todo削除</button>
				</form>
			</div>
		</main>
		<div th:replace="~{common/footer :: footer}"></div>
	</div>
</body>