<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>ホーム</title>
	<link rel="stylesheet" th:href="@{/css/common.css}">
	<link rel="stylesheet" th:href="@{/css/home.css}">
</head>

<body>
	<div class="layout">
		<header class="header">
			<div class="title">アカウント - <span th:text="${loginName}"></span></div>
		</header>
		<main class="main">
			<div class="form-area">
				<h1>ようこそ <span th:text="${loginName}"></span> さん</h1>
				<div class="row">
					<form th:action="@{/user/list}" method="get">
						<button type="submit">ユーザーリスト</button>
					</form>
					<form th:action="@{/todo/list}" method="get">
						<button type="submit">TODOリスト</button>
					</form>
				</div>
			</div>
		</main>
		<footer class="footer">
			<p>Ⓒ 2026 RPC Inc.</p>
			<div class="footer-button">
				<form th:action="@{/logout}" method="post">
					<button type="submit">ログアウト</button>
				</form>
			</div>
		</footer>
	</div>
</body>