<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>ユーザー追加</title>
	<link rel="stylesheet" th:href="@{/css/common.css}">
	<link rel="stylesheet" th:href="@{/css/useradd.css}">
</head>

<body>
	<div class="layout">
		<header class="header">
			<div class="title">アカウント - <span th:text="${loginName}"></span></div>
		</header>
		<main class="main">
			<h1>〇ユーザー追加画面</h1>
			<div class="main-area">
				<div class="row">
					<form th:action="@{/user/add}" th:object="${user}" method="post">
						<div class="row">
							<label>名前 :</label>
							<input type="text" name="name" th:value="${name}" placeholder="名前を入力してください">
						</div>
						<div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color:red;">
						</div>
						<div class="row">
							<label>パスワード :</label>
							<input type="text" name="password" th:value="${password}" placeholder="パスワードを入力してください">
						</div>
						<div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" style="color:red;">
						</div>
						<div class="row">
							<label>メールアドレス :</label>
							<input type="text" name="mail" th:value="${mail}" placeholder="メールアドレスを入力してください">
						</div>
						<div th:if="${#fields.hasErrors('mail')}" th:errors="*{mail}" style="color:red;">
						</div>
						<div class="row">
							<label>権限 :</label>
							<select name="role">
								<option value="ROLE_ADMIN">管理者</option>
								<option value="ROLE_USER">ユーザー</option>
								<option value="ROLE_TODO">TODO管理者</option>
							</select>
						</div>
						<div class="row">
							<label>備考 :</label>
							<textarea th:field="*{remarks}" maxlength="2000" rows="20" cols="100"
								placeholder="備考がある場合は入力してください。"></textarea>
						</div>
						<button class="action-button" type="submit">登録する</button>
					</form>
				</div>
			</div>
		</main>
		<footer class="footer">
			<p>Ⓒ 2026 RPC Inc.</p>
			<div class="footer-button">
				<form th:action="@{/user/list}" method="get">
					<button type="submit">一つ前へ戻る</button>
				</form>
				<form th:action="@{/home}" method="get">
					<button type="submit">ホームへ戻る</button>
				</form>
				<form th:action="@{/logout}" method="post">
					<button type="submit">ログアウト</button>
				</form>
			</div>
		</footer>
	</div>
</body>