<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.forgeon.todo.mapper.UserMapper">

	<select id="findByName" resultType="com.forgeon.todo.dto.User">
		SELECT * FROM users WHERE name = #{name} AND deleted = false
	</select>

	<select id="getUsers" resultType="com.forgeon.todo.dto.User">
		SELECT id,name,mail,password,role,remarks FROM users WHERE deleted != true ORDER BY
		id ASC
	</select>

	<select id="searchUsers" resultType="com.forgeon.todo.dto.User">
		SELECT id,name,mail,role,remarks FROM users <where>
		deleted != true
			<if test="id != null">
				AND id = #{id}
			</if>

			<if test="name != null and name != ''">
				AND name ILIKE '%' || #{name} || '%'
			</if>
			
			<if test="mail != null and mail != ''">
				AND mail ILIKE '%' || #{mail} || '%'
			</if>
			
			<if test="role != null and role != ''">
				AND role ILIKE '%' || #{role} || '%'
			</if>
			
			<if test="remarks != null and remarks != ''">
				AND remarks ILIKE '%' || #{remarks} || '%'
			</if>
			</where>
		ORDER BY id ASC
	</select>

	<select id="getUserInfo" resultType="com.forgeon.todo.dto.User">
		SELECT id,name,mail,role,remarks FROM users WHERE id = #{id} AND deleted
		!= true
	</select>

	<select id="existsActiveUser" resultType="boolean">
		SELECT EXISTS (SELECT 1 FROM users
		WHERE id = #{id}
		AND deleted = false
		)
	</select>
	
	<select id="existsByName" resultType="boolean">
		SELECT EXISTS (SELECT 1 FROM users
		WHERE name= #{name}
		AND id != #{id}
		AND deleted = false
		)
	</select>
	
	<select id="existsByMail" resultType="boolean">
		SELECT EXISTS (SELECT 1 FROM users
		WHERE mail= #{mail}
		AND id != #{id}
		AND deleted = false
		)
	</select>

	<update id="updateUser" parameterType="com.forgeon.todo.dto.User">
		UPDATE users SET
		name=#{name},mail=#{mail},role=#{role},remarks=#{remarks},updated_at=#{updatedAt},updated_by=#{updatedBy}
		WHERE id=#{id}
	</update>

	<insert id="insertUser" parameterType="com.forgeon.todo.dto.User">
		INSERT INTO users (name,password,mail,role,remarks,created_by)
		VALUES(#{name},#{password},#{mail},#{role},#{remarks},#{createdBy})
	</insert>

	<update id="deleteUser" parameterType="com.forgeon.todo.dto.User">
		UPDATE users SET
		deleted_at = #{deletedAt},deleted_by = #{deletedBy},deleted = #{deleted}
		Where id = #{id}
	</update>

</mapper>