<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>ログイン</title>
	<link rel="stylesheet" th:href="@{/css/common/logincommon.css}">
	<link rel="stylesheet" th:href="@{/css/auth/login.css}">
</head>

<body>
	<div class="layout">
		<header class="header">
			<div class="title">ログイン画面
			</div>
		</header>
		<main class="main">
			<h1>ログイン</h1>
			<div th:if="${param.error}" style="color: red;">
				ユーザー名とパスワードが無効です
			</div>
			<form th:action="@{/login}" method="post">
				<div class="group">
					<label for="username">ユーザー名:</label>
					<input type="text" id="username" name="username" required />
				</div>
				<div class="group">
					<label for="password">パスワード:</label>
					<input type="password" id="password" name="password" required />
				</div>
				<button type="submit" class="login-btn">ログイン</button>
			</form>
		</main>
		<footer class="footer"></footer>
	</div>
</body>

</html>